# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# world verification build output
/.verify-tmp

# progress verification build output
/.verify-progress-tmp

# speech verification build output
/.verify-speech-tmp

# mini-game verification build output
/.verify-minigames-tmp
